.homePage {
  justify-items: center;
  color: rgb(248, 245, 250);
}

#oi {
  font-size: 30px;
}

#eu {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 25px;
}

#dev {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 40px;
}

.meHome {
  margin-left: 7%;
  display: block;
  background-color: rgba(255,255,255, 0);
  width: 30%;
  -webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px);
  border-radius: 10%;
  border-color: rgba(132, 37, 191, 1);
}

.case {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 100vh;
}

.txt {
  font-weight: bolder;
  color: rgba(132, 37, 191, 1);
  font-family: OCR A Std, monospace;
}

@media screen and (max-width: 600px){
  .homePage {
    padding-left: 5%;
    padding-right: 5%;
  }

  .meHome {
    display: flex;
    flex-flow: wrap;
    height: 100vh;
  }

  .case {
    height: 100%;
  }

  #dev {
    font-size: 25px;
  }

  #eu {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  #dev {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
  }
}